# Local .terraform files and directories
**/.terraform/*
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Log files
*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variables
variables_sensitive.tf
